Source: tsearch-extras
Section: misc
Priority: extra
Maintainer: Zulip Debian Packaging Team <debian@zulip.com>
Uploaders: Zev Benjamin <zev@zulip.com>, Luke Faraone <lfaraone@zulip.com>
Build-Depends: debhelper (>= 5.0.0), postgresql-server-dev-all (>= 122~)
Standards-Version: 3.9.4

Package: postgresql-9.3-tsearch-extras
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: postgresql-9.3
Description: additional full text search functions for PostgreSQL 9.3
 This PostgreSQL extenion provides several additional functions for
 full text search, including functions to query the location of matches
 within strings.

